
  @import url('https://fonts.googleapis.com/css2?family=Cabin&family=Merriweather:ital,wght@1,300&family=Raleway:wght@300&family=Roboto:wght@300&family=Sofia+Sans:wght@300&display=swap');
body{
    font-family: 'Raleway', sans-serif;
}

.dark-mode {
    background-color: black;
    color: white;
  }
.dark-mode{
    background-color: #15181f;
    color: #e5e5e5;
}
.dark-mode #toggle{
    background-color: #ffffff;
}
.dark-mode #toggle:after{
    background-color: transparent;
    box-shadow: 10px 10px #15181f;
    top: -4px;
    left: 30px;
}
  #toggle{
    -webkit-appearance: none;
    appearance: none;
    height: 40px;
    width: 75px;
    background-color: #15181f;
    position: absolute;
    right: 0;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}
#toggle:after{
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #ffffff;
    top: 5px;
    left: 7px;
    border-radius: 50%;
}

:root{
    --primary-color: #a3e635;
}
::-webkit-scrollbar {
    width: 10px; 
  }
::-webkit-scrollbar-track {
    background-color: whitesmoke;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 0.5rem;
        }
.navigation{    
    color: black;
    display: inline;
    border-bottom-left-radius: 1rem ;
}
.navigation-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    margin: auto;
}
.navigation-container .nav-brand{
    max-height: 36px;
    cursor: pointer;
    padding-left: 2rem;
}
.navigation-container .nav-pills{
    text-align: right;
    margin-left: auto;
    padding-left: ;
}
.nav-brand{
width: 80px;
}
.flex{
    display: flex;
}
.not-bullet{
    list-style: none;
}
.navigation-container .nav-pills{
    align-items: right;

}
a{
    color:#a3e635;
}
a:hover{
    color: #84cc16;
    font-weight:bolder;
    transition: background-color 0.8s; 

}
a:active{
    color: #a3e635;
}
.navigation-container .nav-pills .list-inline .link-tag{
    display: inline-block;
  position: relative;
  color:#84cc16;
}
.navigation-container .nav-pills .list-inline .link-tag::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:#84cc16;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navigation-container .nav-pills .list-inline .link-tag:hover::after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navigation-container .nav-pills .list-inline{

    display: inline;
    padding-right: 1.5rem;
}
.navigation .nav-brand{
    font-family: 'Roboto', sans-serif;
}

.navigation-container .nav-pills .list-inline .link-tag{
    color:#84cc16;
    text-decoration: none;
    size: 4rem;
    font-size: 1.3rem;
} 
.link-tag-last{
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    border-radius: 32px;
    color: white;
    background-color: #a3e635;
    text-decoration: none;
    font-size: 1.3rem;
}
.hero{
    padding: 2rem;
   
}
.hero-img{
    max-width:350px;
    display: block;
    margin: auto;
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    align-items: center;
   }
   .hero-heading{
    text-align: center;
    color: #6b7280;
    overflow-y: auto;
    overflow-x: hidden;
   }
   .hero-highlighted{
    color: #a3e635;
    font-weight: bold;
    font-size: 3rem;
   }
.tech{

    text-align: center;
}
.tech-stack-main{
   
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
   margin-left: auto;
   margin-right: auto;
    width: 1200px;
    gap: 1rem;
   align-items: center;
}
.tech-stack-main .tech-stack{
   
 background-color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  width: 300px;
  padding-left: 2rem;
  padding-right: 2rem;

}
.tech-stack-main .tech-stack:hover{
    border-style: groove;
    border-color:#a3e635;
    -webkit-transform: scale(1.1);
-ms-transform: scale(1.1);
transform: scale(1.1);
display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border-width: thin;
}
.tech-stack .tech-pills{
  padding-left: 1.1rem;
}
.projects{
    text-align: center;
    padding: 2rem;
    color: black;
}
.text_project{
    text-align: center;
    padding: 2rem;
    
}
.sec-link{
    text-decoration: none;
    color: #a3e635;
    font-weight: bold;

}
.blogs-main{
    padding-left: 2rem;
    padding-right: 2rem;
}
.blogs-list{
    padding: 2rem;
    padding-top: 2rem;
    text-align: center;

    background-color: whitesmoke;
}
.hero-heading-blog{
color: #6b7280;
}
.blogs{
    display: grid;
    padding-left:2rem;
    padding-right:2rem;
    align-items: center;

}
.blogs .blog-no{
    border-radius: 15px;
    background-color: whitesmoke;
    
}

.heading{
    padding-bottom: 2rem;
}

.faded-text{
    user-select: none;
    font-size: 7rem;
    color:rgb(231, 231, 231);
    bottom:-16%;
    top:-5%;
    font-weight: bold;

}
.foot{
border-top: 1px solid;
border-width: 50%;
text-align: center;
padding: 2rem; 
}
   
.social-link{
list-style: none;
}
.socio{
    padding-left: 0.05rem;
}
.socio:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.list-inline-f{
    display: inline;
    padding-right: 1.5rem;
    padding-bottom: 2rem;
}
.socio-image{
    max-width: 80px;
    gap: 2rem;
}