.not-bullet{
    list-style: none;
}
.no-underline{
    text-decoration:none;
}
.navigation{
    background-color: #0ea5e9;
    color: black;
    padding: 1 rem;
}
.navigation .nav-pills{
    text-align: right;
}

.navigation .link-tag{
    color: white;
}
