.not-bullet{
    list-style: none;
}
.no-underline{
    text-decoration:none;
}
.navigation-container{
    background-color: #0ea5e9;
    color: black;
}
.list-inline{
    display: inline;
    padding-right: 2.5rem ;
}

.link-tag {
    color: white;
    text-decoration:none;
}